terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform/
code/payments-app/target/
code/postgresql-data-feeder/target/
terraform/demo-destroy.sh
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
code/postgresql-data-feeder/src/main/resources/db.properties
code/payments-app/src/main/resources/cc-orders.properties
code/payments-app/src/main/datacontracts/avro/payments-value-dqr.json
.DS_Store
*my-personal-terraform.tfvars*
CLAUDE.md
.env.local
