body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}
p {
    background-color: #f5f5f5;
    color: cornflowerblue
}
#title {
  background-color: blue;
  color: white;
  text-align: center;
}
